body{
    margin: 0;
}


header {
    height:100px;
    display: flex;
    align-items: center;
    background: indigo;
    background: -webkit-linear-gradient(to right, #2a0845, #6441a5);
    color: whitesmoke;
    margin-bottom: 15px;
    text-align: center;
    justify-content: center;
}

header > img{
    height: 80%;
    margin-left: 10%;
}

header > p{
    font-family: VT323, monospace;
    color: whitesmoke;
    font-size: 30px;
    margin-left: 60px;

}
/*.navbar{*/
/*    height: 100px;*/
/*    background-color: #333;*/
/*    color: whitesmoke;*/
/*    margin-bottom: 15px;*/
/*    text-align: center;*/
/*    font-size: 40px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/

/*}*/


