html, body{
    height: 100%;
    margin: 0;
}

.btn{
    border: 2px solid rgba(112,110,110,1);
    background: linear-gradient(90deg, #6250a5, #8180a5);
    padding: 10px;
    margin-left: 65px;
    margin-bottom: 45px;
    font-size: 40px;
    font-family: VT323, monospace;
    cursor: pointer;
    color: black;
    transition: 0.3s;
    letter-spacing: 2px;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
}

.btn:hover{
    color: #fff;
}

.btn:focus{
    color: #120045;
    border: 2px solid #2a0845;
    box-shadow: 0px 0px 0px 1px rgb(35, 30, 112);;
    animation: anim-shadow .5s forwards;
}

@keyframes anim-shadow {
    100%{
        box-shadow: 0px 0px 30px 10px rgba(112,110,110,0);;
    }
}


.AppMain{
    background: lavender;
    display:flex;
    flex-direction:column;
    min-height: 65vh;
}

.content-wrap{
    background: lavender;
    margin: 50px;
}

.dropdown-label{
    margin-right: 20px;
}


/*.content-wrap{*/
/*    flex:1;*/
/*}*/

.main-footer{
    min-width: 100%;
    color: white;
    background-color: #6441a5;
    padding-top: 3em;
    position: relative;
    bottom: 0;
    text-shadow: 1px 1px 2px black;
}


.dropdowns{
    font-size: 25px;
    padding: 10px;
    margin-left: 65px;
    text-shadow: 1px 1px 1px black;
    color: #2a0845;
}

.dropdown-option{
    background-color: beige;
}

.form-select{
    background-color: beige;
    border-radius: 10px;
}

/*footer{*/
/*    background: #303036;*/
/*    color: #d3d3d3;*/
/*    height: 400px;*/
/*    width: 100%;*/
/*}*/

/*.footer-about{*/
/*    border: 1px solid red;*/
/*    height: 350px;*/
/*    width: 50%;*/
/*    margin: 50px;*/

/*}*/


header {
    height:100px;
    display: flex;
    align-items: center;
    background: #6441a5;
    background: -webkit-linear-gradient(to right, #2a0845, #6441a5);
    color: whitesmoke;
    /*margin-bottom: 15px;*/
    text-align: center;
    justify-content: center;
}

header > img{
    height: 80%;
    /*margin-left: 10%;*/
}

header > p{
    font-family: VT323, monospace;
    color: whitesmoke;
    font-size: 30px;
    margin-left: 60px;
    margin-right: 60px;


}
/*.navbar{*/
/*    height: 100px;*/
/*    background-color: #333;*/
/*    color: whitesmoke;*/
/*    margin-bottom: 15px;*/
/*    text-align: center;*/
/*    font-size: 40px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/

/*}*/


